
h1{
    text-align: center;
    text-transform: uppercase;
    color: red;
}

* {
    padding: 0;
    margin: 0;
}

.contBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btnClick {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    transition: all 0.3s ease;
    animation: flotante 1.8s infinite;

}

@keyframes flotante {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}